@charset "utf-8";

/*CSS document*/


/*
=============
全屏广告
=============
*/

.fullpage-ad .slide-ad {
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.fullpage-ad .slide-ad li {
  display: none;
  width: 100%;
  height: 100%;
}

.fullpage-ad .slide-ad li span.index-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fullpage-ad .slide-ad li span.index-bg-1 {
  background-image: url(../img/index-bg-1.jpg);
}

.fullpage-ad .slide-ad li span.index-bg-2 {
  background-image: url(../img/index-bg-2.jpg);
}

.fullpage-ad .slide-ad li span.index-bg-3 {
  background-image: url(../img/index-bg-3.jpg);
}

.fullpage-ad .ad-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  text-align: center;
  transform: translate(-50%, -50%);
}

.fullpage-ad .ad-content img.num1 {
  width: 100rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-animation: flyDown 1s ease-in-out 1;
  -moz-animation: flyDown 1s ease-in-out 1;
  -o-animation: flyDown 1s ease-in-out 1;
  animation: flyDown 1s ease-in-out 1;
}

.fullpage-ad .ad-content img.num2 {
  width: 54.5rem;
  margin-top: 6rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-animation: flyDown 1s ease-in-out .5s 1 forwards;
  -moz-animation: flyDown 1s ease-in-out .5s 1 forwards;
  -o-animation: flyDown 1s ease-in-out .5s 1 forwards;
  animation: flyDown 1s ease-in-out .5s 1 forwards;
  opacity: 0;
}

.fullpage-ad .ad-content span {
  display: block;
  width: 18rem;
  height: 0.83rem;
  margin: 0 auto;
  margin-top: 10.5rem;
  background-color: #fbd34b;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-animation: flyDown 1s ease-in-out .3s 1 forwards;
  -moz-animation: flyDown 1s ease-in-out .3s 1 forwards;
  -o-animation: flyDown 1s ease-in-out .3s 1 forwards;
  animation: flyDown 1s ease-in-out .3s 1 forwards;
  opacity: 0;
}

@media only screen and (max-width: 1440px) {
  .fullpage-ad .ad-content img.num1 {
    width: 70rem;
    /*margin-top: 11rem;*/
  }
  .fullpage-ad .ad-content img.num2 {
    width: 38rem;
    margin-top: 4rem;
  }
  .fullpage-ad .ad-content span {
    height: 0.5rem;
    margin-top: 7rem;
  }
}

.fullpage-ad .slideBtn {
  position: fixed;
  top: 50%;
  z-index: 999;
  width: 40px;
  height: 79px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.fullpage-ad .prevBtn {
  left: 5%;
  background: url(../img/slideBtn-pic.png) no-repeat;
  background-position: top left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.fullpage-ad .nextBtn {
  right: 5%;
  background: url(../img/slideBtn-pic.png) no-repeat;
  background-position: right bottom;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.fullpage-ad .prevBtn:hover {
  background-position: top right;
}

.fullpage-ad .nextBtn:hover {
  background-position: left bottom;
}

.fullpage-ad .slidePoint {
  position: fixed;
  left: 50%;
  bottom: 10%;
  z-index: 999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fullpage-ad .slidePoint li {
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #17314a;
  border-radius: 50%;
  cursor: pointer;
}

.fullpage-ad .slidePoint li.active {
  background-color: #fbd34b;
}


/*
=============
照片墙
=============
*/

.fullpage-ad .slide-ad li span.photo-bg {
  background-image: url(../img/photo-bg.jpg);
}

.fullpage-ad .photoList {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1130px;
  transform: translate(-50%, -50%);
}

.fullpage-ad .photoList> ul> li {
  position: relative;
  z-index: 0;
  float: left;
  width: 200px;
  height: 300px;
  /*overflow: hidden;*/
  margin-right: 20px;
  border: 3px solid #3a5977;
  box-shadow: 0 0 20px rgba(0, 0, 0, .7);
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.fullpage-ad .photoList> ul> li:hover {
  box-shadow: 0 0 10px rgba(255, 211, 75, .7)
}

.fullpage-ad .photoList> ul> li span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  width: 200px;
  height: 280px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, .7);
  font-size: 16px;
  line-height: 200px;
  color: #fff;
  text-align: center;
}

.fullpage-ad .photoList> ul> li span em {
  display: block;
  width: 100px;
  height: 26px;
  margin: 30px auto 0;
  border: 1px solid #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
}

.fullpage-ad .photoList> ul> li i {
  position: absolute;
  display: block;
  width: 206px;
  height: 3px;
  background-color: #fbd34b;
  opacity: 0;
}

.fullpage-ad .photoList> ul> li i.topLine {
  top: -3px;
  left: -3px;
}

.fullpage-ad .photoList> ul> li:hover i.topLine {
  -webkit-animation: drawtopLine .4s ease 1 forwards;
  -moz-animation: drawtopLine .4s ease 1 forwards;
  -ms-animation: drawtopLine .4s ease 1 forwards;
  -o-animation: drawtopLine .4s ease 1 forwards;
  animation: drawtopLine .4s ease 1 forwards;
}

@-webkit-keyframes drawtopLine {
  0% {
    width: 206px;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 206px;
    height: 306px;
    opacity: 1;
  }
}

@-moz-keyframes drawtopLine {
  0% {
    width: 206px;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 206px;
    height: 306px;
    opacity: 1;
  }
}

@-ms-keyframes drawtopLine {
  0% {
    width: 206px;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 206px;
    height: 306px;
    opacity: 1;
  }
}

@-o-keyframes drawtopLine {
  0% {
    width: 206px;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 206px;
    height: 306px;
    opacity: 1;
  }
}

@keyframes drawtopLine {
  0% {
    width: 206px;
    height: 3px;
    opacity: 1;
  }
  100% {
    width: 206px;
    height: 306px;
    opacity: 1;
  }
}

.fullpage-ad .photoList> ul> li img {
  position: absolute;
  z-index: 20;
  width: 200px;
  height: 300px;
}


/*
=============
头部
=============
*/

header .logo {
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 999;
  width: 13rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1440px) {
  header .logo {
    width: 9.1rem;
  }
}

header nav {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 999;
}

header nav a {
  display: block;
  float: left;
  margin: 0 .83rem;
  line-height: 30px;
  font-size: 1.17rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header nav a:hover {
  color: #fbd34b;
}

header nav a:after {
  z-index: 999;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-left: 50%;
  background-color: #fbd34b;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header nav a:hover:after,
header nav a.active:after {
  z-index: 999;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-left: 0;
  background-color: #fbd34b;
}

header nav a.active {
  color: #fbd34b;
}

header nav span {
  display: inline-block;
  margin-left: 1.66rem;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}


/*
=============
底部
=============
*/

footer nav {
  position: fixed;
  z-index: 999;
  left: 5%;
  bottom: 5%;
  color: #fff;
}

footer nav a {
  margin: 0 5px;
  font-family: "宋体";
  font-size: 1rem;
  color: #d0dae4;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer nav a:hover {
  color: #fbd34b;
}

footer p {
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-family: Arial, "宋体";
  font-size: 1rem;
  color: #d0dae4;
}


/*
===========
回到顶部
===========
*/

.stick {
  position: fixed;
  right: 0;
  bottom: 80px;
  width: 4.2rem;
  z-index: 999;
}

.stick li {
  float: right;
  position: relative;
  width: 4.2rem;
  height: 4rem;
  margin-top: 5px;
  background-color: #fbd34b;
  border-radius: 4px 0 0 3px;
  line-height: 4rem;
  font-size: 14px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.stick .wechat {
  padding: 40px 0 10px;
  background-image: url(../img/nav-icon.png);
  background-position: 10px 11px;
  background-repeat: no-repeat;
  line-height: 1.3;
  color: #fff;
}

.stick .wechat:hover {
  background-position: -102px 11px;
  color: #00233d;
}

.stick .backtop {
  display: none;
}

.stick .backtop:hover {
  color: #00233d;
}

.erweima {
  display: none;
  position: fixed;
  right: 5.5rem;
  z-index: 999;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  background-color: #fff;
  -webkit-animation: wechatPic .5s ease-in-out 1;
  -moz-animation: wechatPic .5s ease-in-out 1;
  -o-animation: wechatPic .5s ease-in-out 1;
  animation: wechatPic .5s ease-in-out 1;
}

.erweima:after {
  position: absolute;
  right: -12px;
  top: 50%;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.erweima img {
  width: 100%;
}

@-webkit-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-ms-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-o-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/*
===========
文字出现动画
===========
*/

@-webkit-keyframes flyDown {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes flyDown {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-ms-keyframes flyDown {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-o-keyframes flyDown {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flyDown {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}