@charset "utf-8";

/*CSS document*/


/*
=============
头部
=============
*/

.topBox {
  position: relative;
  width: 100%;
}

.placeTop {
  background: url(../img/place-bg.jpg) no-repeat center;
  background-size: cover;
}

.foodeTop {
  background: url(../img/index-bg-3.jpg) no-repeat center;
  background-size: cover;
}

.aboutTop {
  background: url(../img/about/aboutTop-bg.jpg) no-repeat center;
  background-size: cover;
}

.topBox header {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
}

.topBox header .logo {
  float: left;
}

.topBox header .logo {
  width: 13rem;
}

@media only screen and (max-width: 1440px) {
  .topBox header .logo {
    width: 9.1rem;
  }
}

.topBox header nav {
  float: right;
}

.topBox header nav a {
  display: block;
  float: left;
  margin: 0 .83rem;
  line-height: 30px;
  font-size: 1.17rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.topBox header nav a:hover {
  color: #fbd34b;
}

.topBox header nav a:after {
  z-index: 999;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-left: 50%;
  background-color: #fbd34b;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.topBox header nav a:hover:after,
.topBox header nav a.active:after {
  z-index: 999;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-left: 0;
  background-color: #fbd34b;
}

.topBox header nav a.active {
  color: #fbd34b;
}

.topBox header nav span {
  display: inline-block;
  margin-left: 1.66rem;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}


/*slogan*/

.topBox .slogan {
  position: absolute;
  top: 25%;
  left: 5%;
}

.topBox .slogan .sloganPic {
  width: 34.5rem;
  -webkit-animation: flyLeftAnimate .5s ease-in-out 1 forwards;
  -moz-animation: flyLeftAnimate .5s ease-in-out 1 forwards;
  -o-animation: flyLeftAnimate .5s ease-in-out 1 forwards;
  animation: flyLeftAnimate .5s ease-in-out 1 forwards;
  opacity: 0;
}

.topBox .slogan .slogan-nr {
  margin-top: 30%;
  font-size: 2.5rem;
  color: #fff;
  -webkit-animation: flyLeftAnimate .8s ease-in-out 1 forwards;
  -moz-animation: flyLeftAnimate .8s ease-in-out 1 forwards;
  -o-animation: flyLeftAnimate .8s ease-in-out 1 forwards;
  animation: flyLeftAnimate .8s ease-in-out 1 forwards;
  opacity: 0;
}

.topBox .slogan .strip {
  width: 18rem;
  height: 0.83rem;
  margin-top: 10%;
  background-color: #fbd34b;
  -webkit-animation: flyLeftAnimate 1s ease-in-out 1 forwards;
  -moz-animation: flyLeftAnimate 1s ease-in-out 1 forwards;
  -o-animation: flyLeftAnimate 1s ease-in-out 1 forwards;
  animation: flyLeftAnimate 1s ease-in-out 1 forwards;
  opacity: 0;
}

@media only screen and (max-width: 1440px) {
  .topBox .slogan .sloganPic {
    width: 24rem;
  }
  .topBox .slogan .slogan-nr {
    font-size: 1.75rem;
  }
  .topBox .slogan .strip {
    width: 12.5rem;
    height: 0.5rem;
  }
}


/*每日推荐*/

.daily {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 80rem;
  height: 37rem;
}

.daily .daily-slogan {
  position: absolute;
  z-index: 10;
  width: 15.1rem;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: flyRightAnimate .5s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .5s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .5s ease-in-out 1 forwards;
  animation: flyRightAnimate .5s ease-in-out 1 forwards;
  opacity: 0;
}

.daily .dailyPic {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 9;
  width: 45.6rem;
  height: 31.08rem;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: flyRightAnimate .6s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .6s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .6s ease-in-out 1 forwards;
  animation: flyRightAnimate .6s ease-in-out 1 forwards;
  opacity: 0;
}

.daily .dailyPic ul {
  position: absolute;
  /*left: 0;*/
  width: 200rem;
}

.daily .dailyPic ul li {
  float: left;
  width: 45.6rem;
  height: 28.25rem;
}

.daily .dailyPic ul li img {
  width: 45.6rem;
}

.daily .daily-slideBtn {
  position: absolute;
  z-index: 8;
  top: 28.25rem;
  left: 0;
  font-size: 0;
}

.daily .daily-slideBtn .daily-slideBtn-style {
  z-index: 99;
  display: inline-block;
  width: 2.83rem;
  height: 2.83rem;
  background-color: #081430;
  background-image: url(../img/daily-slide-icon.png);
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
}

.daily .daily-slideBtn .prev {
  background-position: 5px top;
}

.daily .daily-slideBtn .next {
  background-position: -28px top;
}

.daily .daily-slideBtn .active {
  background-color: #fbd34b;
}

.daily .daily-bg {
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: 8;
  width: 45.6rem;
  height: 28.25rem;
  background-color: #010818;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  animation: flyRightAnimate .7s ease-in-out 1 forwards;
  opacity: 0;
}

.daily h1 {
  position: absolute;
  top: 8%;
  left: 65%;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.daily .dailyStrip {
  position: absolute;
  top: 30%;
  left: 65%;
  width: 20px;
  height: 4px;
  background-color: #fbd34b;
}

.daily .dailyContent {
  position: absolute;
  top: 38%;
  left: 65%;
  height: 10rem;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  overflow: hidden;
  text-align: justify;
}

.daily .dailyDetailBtn {
  position: absolute;
  top: 80%;
  left: 65%;
}

.daily h1 {
  -webkit-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  animation: flyRightAnimate .7s ease-in-out 1 forwards;
  opacity: 0;
}

.daily .dailyStrip {
  -webkit-animation: flyRightAnimate .8s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .8s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .8s ease-in-out 1 forwards;
  animation: flyRightAnimate .8s ease-in-out 1 forwards;
  opacity: 0;
}

.daily .dailyContent {
  -webkit-animation: flyRightAnimate .9s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .9s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .9s ease-in-out 1 forwards;
  animation: flyRightAnimate .9s ease-in-out 1 forwards;
  opacity: 0;
}

.daily .dailyDetailBtn {
  -webkit-animation: flyRightAnimate 1s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate 1s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate 1s ease-in-out 1 forwards;
  animation: flyRightAnimate 1s ease-in-out 1 forwards;
  opacity: 0;
}

.detailBtn {
  position: relative;
  z-index: 5;
  width: 100px;
  height: 32px;
  border: 2px solid #fbd34b;
  font-weight: 700;
  line-height: 32px;
  text-indent: 10px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.detailBtn:before {
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 3;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.detailBtn:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  width: 0;
  height: 32px;
  background-color: #fbd34b;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.detailBtn:hover {
  color: #000;
}

.detailBtn:hover:before {
  border-left-color: #000;
}

.detailBtn:hover:after {
  content: "VIEW";
  width: 100px;
}

@media only screen and (max-width: 1440px) {
  .daily {
    width: 56rem;
    height: 26rem;
  }
  .daily .daily-slogan {
    width: 10.5rem;
  }
  .daily .dailyPic {
    width: 31.92rem;
    height: 21.78rem;
  }
  .daily .dailyPic ul li,
  .daily .dailyPic ul li img,
  .daily .daily-bg {
    width: 31.92rem;
    height: 19.8rem;
  }
  .daily .dailyPic ul {
    width: 130rem;
  }
  .daily .daily-slideBtn {
    top: 19.8rem;
  }
  .daily .daily-slideBtn .daily-slideBtn-style {
    width: 1.98rem;
    height: 1.98rem;
    background-size: 90%;
  }
  .daily .daily-slideBtn .prev {
    background-position: 10px 7px;
  }
  .daily .daily-slideBtn .next {
    background-position: -6px 7px;
  }
}


/*向下滑动提示*/

.scrolldown {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.scrolldown:after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: scrollDown 1s linear 3s infinite;
  -moz-animation: scrollDown 1s linear 3s infinite;
  -o-animation: scrollDown 1s linear 3s infinite;
  animation: scrollDown 1s linear 3s infinite;
}

@-webkit-keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -20px;
  }
}

@-moz-keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -20px;
  }
}

@-o-keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -20px;
  }
}

@keyframes scrollDown {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -20px;
  }
}


/*
==============
提供的类型列表
==============
*/

.container {
  margin: 5rem 0;
}

.typeList {
  width: 90%;
  margin: 0 5%;
}


/*分类标题*/

.typeList .typeList-title {
  position: relative;
  float: left;
  width: 10%;
  opacity: 0;
}

.typeList .typeList-title h2 {
  width: 3.2rem;
  font-size: 3.2rem;
  line-height: 1.3;
  color: #fbd34b;
}

.typeList .typeList-title span {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.typeList .typeList-title span i {
  display: block;
  width: 3.2rem;
  height: 4px;
  background-color: #fbd34b;
  margin-top: 6px;
}

@media only screen and (max-width: 1440px) {
  .typeList .typeList-title h2 {
    width: 2rem;
    font-size: 2rem;
  }
  .typeList .typeList-title span i {
    width: 2rem;
    height: 2px;
    margin-top: 4px;
  }
}


/*列表详细*/

.typeList .colList {
  float: right;
  width: 90%;
  opacity: 0;
}

.typeList .colList .left {
  float: left;
  margin-left: 3%;
  margin-bottom: 5rem;
}

.typeList .colList .right {
  float: right;
}

.typeList .colList .product {
  position: relative;
  width: 60rem;
  height: 33.3rem;
}

.typeList .colList .product .productPic {
  width: 55.5%;
  height: 100%;
}

.typeList .colList .product img {
  width: 100%;
  height: 100%;
}

.typeList .colList .product .product-content-bg {
  position: absolute;
  top: 5.5%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 70%;
  background-color: #081430;
}

.typeList .colList .product .product-content {
  position: absolute;
  left: 60%;
  top: 0;
  width: 35%;
  height: 100%;
}

.typeList .colList .product .product-content h3 {
  margin: 5px 0 15px;
  font-size: 20px;
  line-height: 3;
  color: #fff;
}

.typeList .colList .product .product-content p {
  height: 70%;
  line-height: 1.2;
  color: #fff;
  text-align: justify;
  overflow: hidden;
}

.typeList .colList .product .productStrip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #fbd34b;
}

.typeList .colList .product .productBtn {
  position: absolute;
  bottom: 5%;
  left: 60%;
}

@media only screen and (max-width: 1440px) {
  .typeList .colList .product {
    width: 42rem;
    height: 23.3rem;
  }
  .typeList .colList .product .productPic {
    width: 55.5%;
    height: 100%;
  }
  .typeList .colList .product img {
    width: 100%;
  }
  .typeList .colList .product .product-content h3 {
    font-size: 14px;
  }
}


/*查看更多按钮*/

.seeMore {
  margin: 20px auto;
  width: 20rem;
  height: 3rem;
  background-color: #010818;
  border: 2px solid #0d172e;
  border-radius: 3rem;
  font: 14px/3rem "Microsoft Yahei";
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.seeMore:hover {
  border-color: #fbd34b;
  background-color: rgba(251, 211, 77, .1);
}


/*
=========
页尾
=========
*/

footer .footerPic {
  width: 100%;
  height: 12rem;
  background: url(../img/footer-pic.jpg) no-repeat center;
  background-size: cover;
}

footer .info {
  width: 100%;
  height: 5rem;
  background-color: #000206;
}

footer .info .info-nr {
  width: 90%;
  margin: 0 auto;
}

footer .info .info-nr nav {
  float: left;
  color: #fff;
  line-height: 5rem;
}

footer .info .info-nr nav a {
  margin: 0 5px;
  font-family: "宋体";
  font-size: 1rem;
  color: #d0dae4;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .info .info-nr nav a:hover {
  color: #fbd34b;
}

footer .info .info-nr p {
  float: right;
  font-family: Arial, "宋体";
  font-size: 1rem;
  line-height: 5rem;
  color: #d0dae4;
}


/*
===========
回到顶部
===========
*/

.stick {
  position: fixed;
  right: 0;
  bottom: 80px;
  width: 4.2rem;
  z-index: 999;
}

.stick li {
  float: right;
  position: relative;
  width: 4.2rem;
  height: 4rem;
  margin-top: 5px;
  background-color: #fbd34b;
  border-radius: 4px 0 0 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.stick li a {
  line-height: 4rem;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.stick .wechat {
  padding: 40px 0 10px;
  background-image: url(../img/nav-icon.png);
  background-position: 10px 11px;
  background-repeat: no-repeat;
  line-height: 1.3;
  color: #fff;
}

.stick .wechat:hover {
  background-position: -102px 11px;
  color: #00233d;
}

.stick .backtop {
  display: none;
}

.stick .backtop:hover a {
  color: #00233d;
}

.erweima {
  display: none;
  position: fixed;
  right: 5.5rem;
  z-index: 999;
  width: 12rem;
  height: 12rem;
  padding: 1rem;
  background-color: #fff;
  -webkit-animation: wechatPic .5s ease-in-out 1;
  -moz-animation: wechatPic .5s ease-in-out 1;
  -o-animation: wechatPic .5s ease-in-out 1;
  animation: wechatPic .5s ease-in-out 1;
}

.erweima:after {
  position: absolute;
  right: -12px;
  top: 50%;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.erweima img {
  width: 100%;
}


/*二维码出现动画*/

@-webkit-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-ms-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-o-keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes wechatPic {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/*
===========
元素飞入动画
===========
*/


/*左飞入*/

@-webkit-keyframes flyLeftAnimate {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes flyLeftAnimate {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-ms-keyframes flyLeftAnimate {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-o-keyframes flyLeftAnimate {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyLeftAnimate {
  0% {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/*右飞入*/

@-webkit-keyframes flyRightAnimate {
  0% {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes flyRightAnimate {
  0% {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-ms-keyframes flyRightAnimate {
  0% {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-o-keyframes flyRightAnimate {
  0% {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyRightAnimate {
  0% {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


/*
============================
详情弹出页面
============================
*/

.detailCover {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 9999;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  padding-bottom: 100px;
  background-color: rgba(1, 8, 24, .8);
}

.detailCover .detailContent {
  box-sizing: border-box;
  width: 95%;
  height: auto;
  margin-left: 5%;
  padding: 2% 0;
  border: 6px solid #fbd34b;
  background-color: #010818;
}

.detailCover .detailContent .comWidth {
  width: 1400px;
  margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
  .detailCover .detailContent .comWidth {
    width: 1100px;
  }
}

.detailCover .detailContent h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.detailCover .detailContent h2 span {
  float: right;
}


/*详情图片*/

.detailPic {
  margin-bottom: 40px;
}

.picSlideBox {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
}

.picSlideBox .picSlideBig {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000px;
  height: 470px;
  margin-bottom: 20px;
}

.picSlideBox .picSlideBig li {
  float: left;
  width: 1100px;
  height: 470px;
  overflow: hidden;
}

.picSlideBox .picSlideBig li img {
  width: auto;
  height: 470px;
}

.picSlideBox .picSlideSmallBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 26px;
  background-color: rgba(55, 91, 127, .7);
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  color: #fff;
}

.picSlideBox .picSlideSmallBox span {
  margin: 0 3px;
}

.picSlideBox .picSlideBtn {
  position: absolute;
  bottom: 0;
  display: block;
  width: 50px;
  height: 26px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.picSlideBox .prev {
  right: 50px;
  background: rgba(55, 91, 127, .7) url(../img/details/prev.png) no-repeat center center;
}

.picSlideBox .next {
  right: 0;
  background: rgba(55, 91, 127, .7) url(../img/details/next.png) no-repeat center center;
}

.picSlideBox .prev:hover,
.picSlideBox .next:hover {
  background-color: #fbd34b;
}


/*详细信息介绍*/

.detailInfo h3 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.detailInfo .detailInfoText {
  margin-bottom: 100px;
}

.detailInfo .detailInfoText> li {
  padding: 30px 5% 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #375b7f;
  font-size: 14px;
  color: #fff;
}

.detailInfo .detailInfoText> li span {
  float: left;
  /*display: inline-block;*/
  width: 15%;
  margin-right: 5%;
  text-align: right;
  font-size: 22px;
  color: #fbd34b;
}

.detailInfo .detailInfoText> li i {
  float: right;
  width: 80%;
  font-style: normal;
}


/*关闭按钮*/

.closeBtn {
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.closeBtn i {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #fbd34b;
  transform-origin: center 11px;
}

.closeBtn i:nth-child(1) {
  left: 10px;
  top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.closeBtn i:nth-child(2) {
  right: 10px;
  top: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.closeBtnAnimate:hover i:nth-child(1) {
  animation: closeBtnA .5s ease-in-out 2;
}

.closeBtnAnimate:hover i:nth-child(2) {
  animation: closeBtnB .5s ease-in-out 2;
}

@-webkit-keyframes closeBtnA {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-moz-keyframes closeBtnA {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-ms-keyframes closeBtnA {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-o-keyframes closeBtnA {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes closeBtnA {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes closeBtnB {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-moz-keyframes closeBtnB {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-ms-keyframes closeBtnB {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-o-keyframes closeBtnB {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes closeBtnB {
  0% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}


/*
============================
关于我们页面
============================
*/


/*头部*/

.topBox .aboutTop-bigSlogan {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 34.4rem;
  opacity: 0;
  -webkit-animation: scaleDown .5s ease-in-out .2s 1 forwards;
  -moz-animation: scaleDown .5s ease-in-out .2s 1 forwards;
  -o-animation: scaleDown .5s ease-in-out .2s 1 forwards;
  animation: scaleDown .5s ease-in-out .2s 1 forwards;
}

.topBox .aboutTop-bigSlogan span {
  display: block;
  position: absolute;
  top: -1rem;
  left: 6rem;
  z-index: -1;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fbd34b;
}

.topBox .aboutTop-leftSlogan {
  position: absolute;
  top: 46%;
  left: 5%;
  font-size: 2.5rem;
  color: #fff;
  -webkit-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -moz-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  -o-animation: flyRightAnimate .7s ease-in-out 1 forwards;
  animation: flyRightAnimate .7s ease-in-out 1 forwards;
  opacity: 0;
}

.topBox .aboutTop-rightSlogan {
  position: absolute;
  top: 46%;
  right: 5%;
  font-size: 2.5rem;
  color: #fff;
  -webkit-animation: flyLeftAnimate .7s ease-in-out 1 forwards;
  -moz-animation: flyLeftAnimate .7s ease-in-out 1 forwards;
  -o-animation: flyLeftAnimate .7s ease-in-out 1 forwards;
  animation: flyLeftAnimate .7s ease-in-out 1 forwards;
  opacity: 0;
}

.topBox .aboutTop-bigSlogan img,
.topBox .aboutTop-leftSlogan img,
.topBox .aboutTop-rightSlogan img {
  width: 100%;
}

.topBox .aboutTop-strip {
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 18rem;
  height: 4px;
  background-color: #fbd34b;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 1440px) {
  .topBox .aboutTop-bigSlogan {
    width: 24.1rem;
  }
  .topBox .aboutTop-leftSlogan {
    width: 8rem;
  }
  .topBox .aboutTop-rightSlogan {
    width: 7rem;
  }
  .topBox .aboutTop-strip {
    width: 12.5rem;
  }
}


/*关于我们*/

.about-container {
  width: 1200px;
  margin: 5rem auto;
}

.about-container section {
  position: relative;
  width: 100%;
  margin-bottom: 10rem;
}

.about-container section h2 {
  margin-bottom: 5rem;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

.about-container .aboutus .aboutus-content {
  position: relative;
  height: 45.7rem;
}

.about-container .aboutus img {
  position: absolute;
  top: .5rem;
  left: 0;
  z-index: 10;
  width: 68.5rem;
  opacity: 0;
}

.about-container .aboutus .aboutus-info {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  width: 54.75rem;
  height: 45.7rem;
  background-color: #fbd34d;
  opacity: 0;
}

.aboutus-info .aboutus-info-text {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 60%;
}

.aboutus-info .aboutus-info-text h3 {
  font-size: 20px;
  margin-bottom: 25px;
}

.aboutus-info .aboutus-info-text .line {
  width: 40px;
  height: 2px;
  background-color: #010818;
  margin-bottom: 15px;
}

.aboutus-info .aboutus-info-text p {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: justify;
}

.about-container .contactus img {
  float: right;
  width: 45%;
  opacity: 0;
}

.about-container .contactus .contactus-info {
  float: left;
  width: 55%;
  height: 45.7rem;
  margin-top: 3rem;
  background-color: #0e1c3d;
  opacity: 0;
}

.about-container .contactus .contactus-info .line {
  width: 180px;
  height: 2px;
  margin-left: 10%;
  background-color: #fbd34b;
}

.contactus-info .contactus-info-text {
  width: 70%;
  margin: 5% 0 0 10%;
}

.contactus-info .contactus-info-text h3 {
  font-size: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.contactus-info .contactus-info-text .contactus-info-text-left {
  float: left;
  width: 30%;
}

.contactus-info .contactus-info-text .contactus-info-text-left p {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: right;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.contactus-info .contactus-info-text .contactus-info-text-left p span {
  position: absolute;
  top: 11px;
  right: -40px;
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #fbd34b;
}

.contactus-info .contactus-info-text .contactus-info-text-right {
  float: right;
  width: 50%;
}

.contactus-info .contactus-info-text .contactus-info-text-right p {
  margin-bottom: 1.5rem;
  font-size: 16px;
  line-height: 2.5;
  color: #fff;
}

@media only screen and (max-width: 1440px) {
  .about-container {
    width: 1000px;
  }
  .about-container section h2 {
    font-size: 2.8rem;
  }
  .about-container .aboutus .aboutus-content {
    height: 32rem;
  }
  .about-container .aboutus img {
    width: 47.95rem;
  }
  .about-container .aboutus .aboutus-info {
    width: 45rem;
    height: 33rem;
  }
  .about-container .contactus .contactus-info {
    height: 25rem;
  }
}


/*about页面动画*/

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-moz-keyframes scaleDown {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-ms-keyframes scaleDown {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-o-keyframes scaleDown {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}