@charset "utf-8";

/*CSS document*/

.ml20 {
  margin-left: 20px;
}

legend {
  margin-top: 10px;
  margin-bottom: 10px;
}

.glpx-dropselect {
  margin-bottom: 20px;
}

.file {
  visibility: hidden;
}

#glpx,#fbpx,#xgpx {
  padding-bottom: 90px;
}

.fbpx-confirm,
.xgpx-confirm {
  margin-top: 40px;
}

/*多选框样式*/

input[type="checkbox"].checkboxStyle  {
  margin-top: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*.checkboxLabel:after {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  content: "";
  width: 14px;
  height: 8px;
  background-color: transparent;
  border: 3px solid transparent;
  border-left-color: #ccc;
  border-bottom-color: #ccc;
  transform: rotate(-45deg);
  opacity: 0;
}

input[type="checkbox"]:checked + label.checkboxLabel:after {
  opacity: 1;
}

.checkboxHidden {
  visibility: hidden;
}*/
